* {
    margin: 0;
}

.topSection {
    background-color: orange;
    border-bottom: solid 4px black;
    height: 150px;
}

.title {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 50px;
}


.section1 {
    background-color: lightskyblue;
    height: 610px;
}

.bottomSection {
    background-color:darkgoldenrod;
    height: 200px;
}

.form1 {
    border: 5px solid black;
    width: 400px;
    height: 200px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px;
    margin: auto;
}

.back{
    background-color: green;
    border: 3px solid black;
    border-radius: 20px 20px;
    width: 150px;
    left: 100px;
}

.enter{
    background-color: green;
    border: 3px solid black;
    color: white;
    border-radius: 20px 20px;
    width: 150px;
    position: relative;
    top: 40px;
}
