* {
    margin: 0;
}

.topSection {
    background-image: url("images/stars.jpg");
    height: 150px;
}


.section1 {
    background-image: linear-gradient(to bottom right, gray, gold);
    height: 650px;
}

.bottomSection {
    background-color:darkgoldenrod;
    height: 200px;
}

.reviewTitle {
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
}

.rateCover {
    border: double 15px black;
    width: 500px;
    height: 500px;
    position: relative;
    top: 10%;
    margin: auto;
}

.rateTitle {
    text-align: center;
}

.squareRate {
    border: solid 2px black;
    width: 200px;
    height: 30px;
    position: relative;
    left: 150px;
    bottom: 50px;
    background-image: linear-gradient(to right, red, gold, green); 
}

.starRating {
    color: gray;
    font-size: 40px;
    height: 100px;
    text-align: center;
}

.my-star::before {
    content: "\002605"
}

.my-star {
    font-style: unset;
}

.is-active {
    color: gold;
}

.my-star:not(.is-active):hover {
    color: gold;
}

.rateWords {
    word-spacing: 150px;
    margin-left: 27%;
    margin-top: -8%;
}

.commentMain {
    text-align: center;
    margin-top: 5%;
    outline: none;
}

.comText {
    font-size: 15px;
    outline: none;
}

.comButton {
    border-radius: 40px 40px;
    padding: 20px;
    margin-top: 12%;
    font-size: 16px;
    background-color: darkgoldenrod;
    font-weight: bold;
    border: 3px solid black;
    transition: 0.5s;
}

.comButton:hover {
    background-color: lightgreen;
    transition: 1s;
    cursor: pointer;
}